<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/"
      th:replace = "~{layout/layout :: layout(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8" >
    <title>Design</title>

</head>
<body>



    <img th:src="@{/images/designTaco.jpg}"  height="250px"/>
    <h1>Hi it is design page</h1>
    <form method="POST" th:object="${taco}">
        <div>
            <h3>Choose the Taco Name:</h3>
            <input type="text" th:field="*{name}">
            <span class = "validationError"
                th:if = "${#fields.hasErrors('name')}"
                th:errors = "*{name}"/>

        </div>
        <div class ="ingredient-group" id="wrap">
            <h3>Design your wrap:</h3>
            <div th:each = "ingredient : ${wrap}">
                <input type="checkbox" th:field ="*{ingredients}" th:value="${ingredient.name}" >
                <span th:text = "${ingredient.name + ' + $' + ingredient.price}">WRAP</span>
            </div>
        </div>
        <div class ="ingredient-group" id="protein">
            <h3>Choose your meat:</h3>
            <div th:each = "ingredient : ${protein}">
                <input type="checkbox" th:field ="*{ingredients}" th:value="${ingredient.name}" >
                <span th:text = "${ingredient.name + ' + $' + ingredient.price}">PROTEIN</span>
            </div>

        </div>
        <div class ="ingredient-group" id="veggies">
            <h3>Choose your veggies:</h3>
            <div th:each = "ingredient : ${veggies}">
                <input type="checkbox" th:field ="*{ingredients}" th:value="${ingredient.name}" >
                <span th:text = "${ingredient.name + ' + $' + ingredient.price}">VEGGIES</span>
            </div>

        </div>
        <div class ="ingredient-group" id="cheese">
            <h3>Choose your cheese:</h3>
            <div th:each = "ingredient : ${cheese}">
                <input type="checkbox" th:field ="*{ingredients}" th:value="${ingredient.name}" >
                <span th:text = "${ingredient.name + ' + $' + ingredient.price}">CHEESE</span>
            </div>

        </div>
        <div class ="ingredient-group" id="sauce">
            <h3>Choose your sauce:</h3>
            <div th:each = "ingredient : ${sauce}">
                <input type="checkbox" th:field ="*{ingredients}" th:value="${ingredient.name}" >
                <span th:text = "${ingredient.name + ' + $' + ingredient.price}">SAUCE</span>
            </div>
        </div>
        <button>Submit your Taco</button>
        <span class = "validationError"
              th:if = "${#fields.hasErrors('ingredients')}"
              th:errors = "*{ingredients}"/>
    </form>


</body>
</html>